/* ----------------------------------------- */
/* RESET E CONFIGURAÇÕES GERAIS             */
/* ----------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fonte-titulo;
  src: url(../util/font/Vaseline\ Extra.ttf);
}

body {
  background: #fafafa;
}

/* ----------------------------------------- */
/* HEADER                                    */
/* ----------------------------------------- */
header {
  background: #f8d38d;
  display: flex;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-left: 2rem;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #b94d9d;
  font-family: fonte-titulo;
}

header img {
  width: 7rem;
  margin-left: 2rem;
  margin-top: 2.5rem;
}

/* ----------------------------------------- */
/* PRINCIPAL / CARDS                         */
/* ----------------------------------------- */

.container {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 75%;
  overflow: hidden;
  margin: 0 auto;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-top: 8vh;
  position: relative;
}

.cards-container {
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease;
  overflow: hidden;
  width: calc(20rem * 4 + 2rem * 3);
}

.arrow-icon {
  font-size: 3rem;
  color: #b94d9d;
  cursor: pointer;
  align-self: center;
  position: relative;
  z-index: 10;
}

.card {
  width: 19rem;
  height: 32rem;
  background: #e8d3ef;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* Fundo azul quando for macho */
.card.macho {
  background: #44b7e0;
}

.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
  height: 23vh;
  object-fit: cover;
}

.heart-icon {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  user-select: none;
}

.heart-icon.favorito {
  color: #b94d9d;
}

/* Conteúdo */
.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.card-content h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 2.6rem;
  font-family: fonte-titulo;
}

/* Tag */
.tag {
  padding: 0.2rem 0.6rem;
  color: #333;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-family: Chewy;
  font-weight: 900;

}

.fêmea {
  background: #f8e7ff;
}

.macho-tag {
  background: #a6dbfa;
}

/* Lista */
.infos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

/* Botão Adotar */
.btn-ver-passaporte {
  padding: 0.9rem;
  border: none;
  border-radius: 0.4rem;
  background: #f8d38d;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  align-items: baseline;
}

.btn-ver-passaporte:hover {
  background: #eabf72;
}

/* ----------------------------------------- */
/* BOTÃO CADASTRAR PET                       */
/* ----------------------------------------- */
.cadastro-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.btn-cadastrar {
  background: #b94d9d;
  color: white;
  padding: 1rem 2.6rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-cadastrar:hover {
  background: #8a346f;
}


footer {
  background: #f5f3ef;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0%;
  padding: 1.4rem;
  font-size: 1.2rem;
}


/* ----------------------------------------- */
/* MODAL PASSAPORTE                         */
/* ----------------------------------------- */

.detalhesPokemon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e8d3ef;
  max-width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
  z-index: 1;
}

.modal-passaporte {
  padding: 0.5rem;
  color: #fff;
  border-radius: 1rem;
}

.passport-info .title {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: black;
  font-family: fonte-titulo;
}

p strong {
  font-size: 1.1rem;
}

p{
  font-size: 1.1rem;
}

.top-name {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: black;
  font-family: fonte-titulo;
 
}

.top-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.top-detail .bi{
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  user-select: none;

}
.close {
  color: black;
  cursor: pointer;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.passport-photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
}

.passport-info {
  background: #fff;
  color: #000;
  padding: 1rem;
  border-radius: 8px;
}

.detalhesPokemon[aria-hidden="true"] {
  pointer-events: none;
  opacity: 0;
}

.detalhesPokemon[aria-hidden="false"] {
  pointer-events: auto;
  opacity: 1;
  transition: opacity .35s ease;
}

.btn-adotar {
  display: flex;
  margin-top: 0.5rem;
  padding: 1rem 5rem;
  border: none;
  border-radius: 0.4rem;
  background: #f8d38d;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;

}

.btn-adotar:hover {
  background: #eabf72;
}