/* ----------------------------- */
/* RESET E CONFIGURAÇÕES GERAIS */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 8vh; /* Compensa o header fixo */
  background-color: #fafafa;
}

/* ----------------------------- */
/* HEADER E NAVEGAÇÃO */
/* ----------------------------- */

header {
  background: #f8d38d;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
}

nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.3rem;
}

nav img {
  width: 7rem;
  margin: 0; /* removendo margin exagerada */
}

nav a {
  text-decoration: none;
  color: #b94d9d;
  transition: 0.3s;
}

nav a:hover {
  color: #8a346f;
}

/* ----------------------------- */
/* CARD DE ADOÇÃO */
/* ----------------------------- */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}
.card {
  width: 15rem;
  background: #e8d3ef;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

/* Imagem do card */
.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* Coração favorito */
.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b94d9d;
  font-size: 1.6rem;
}

/* Conteúdo do card */
.card-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* Tag roxa */
.tag {
  background: #b94d9d;
  color: white;
  padding: 0.2rem 0.6rem;
  border-radius: 8px;
  font-size: 0.8rem;
  margin: 0.3rem auto;
}

/* Títulos */
.title {
  font-weight: bold;
  margin-top: 0.5rem;
}

/* Lista de informações */
.infos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0;
  font-size: 0.9rem;
}

/* Botão */
.btn-adotar {
  margin-top: 1rem;
  padding: 0.6rem;
  background: #f8d38d;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-adotar:hover {
  background: #eabf72;
}
