* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #f8d38d;
  display: flex;
  width: 100%;
  height: 8vh;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  color: #b94d9d;
}
