* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: vaseline;
  src: url(../util/font/Vaseline\ Extra.ttf);
}

body {
  background-image: url(../img/bg-index.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  border: 6px solid #17ace3;
  border-radius: 60px;
  padding: 30px;
  width: 550px;
  text-align: center;
}

.container p {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.logo {
  width: 130px;
  margin-bottom: 20px;
}

h1 {
  color: #b94d9d;
  margin-bottom: 30px;
  font-family: vaseline;
  font-size: 3.3rem;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: #a282bb;
  border: none;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 8px #17ace3;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

button {
  margin-top: 15px;
  padding: 20px 0px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #b94d9d;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  width: 50%;
  align-self: center;
}

button:hover {
  background-color: #ec7be3;
}

button:active {
  transform: scale(0.95);
}

.carregando {
  opacity: 0.6;
  pointer-events: none;
}

input::placeholder{
  font-weight: bold;
  font-size: 1rem;
}