header{
    background: #f8d38d ;
    display: flex;
    width: 100%;
    height: 8vh;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: 2rem; 
    font-weight: bold;
    font-size: 1.4rem; 
}
a{
    text-decoration: none;
    color: #b94d9d;
}
img{
    width: 7rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.end{ 
    margin-right: 5rem;
    align-items: center;  
    align-items: end;
}


.bi{
    font-size: 2rem;
    color: #b94d9d;
}

button{
    background: #b94d9d;
    color: #f8d38d;
    font-weight: bold;
    border: none;
    padding: 1rem 1.2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}