*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: fonte-titulo;
  src: url(../util/font/Vaseline\ Extra.ttf);
}

header{
    background: #f8d38d ;
    display: flex;
    width: 100%;
    height: 8vh;
    position: fixed;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: 2rem; 
    font-size: 1.6rem; 
}
a{
    text-decoration: none;
    color: #b94d9d;
    font-family: fonte-titulo;
}
img{
    width: 7rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.end{ 
    margin-right: 5rem;
    align-items: center;  
    align-items: end;
}


.bi{
    font-size: 2rem;
    color: #b94d9d;
}

button{
    background: #b94d9d;
    color: #f8d38d;
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: fonte-titulo;
}