* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fonte-titulo;
  src: url(../util/font/Vaseline\ Extra.ttf);
}

body {
  background-image: url(../img/bg-index.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-principal {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.chamada {
  font-size: 2rem;
  color: #333;
  font-weight: 100;
  line-height: 1.2;
  font-family: fonte-titulo;
}

/* MEDIA QUERIES PARA RESPONSIVIDADE */
@media (max-width: 768px) {
  .img {
    width: 250px;
    margin-bottom: 15px;
  }

  .chamada {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .img {
    width: 200px;
  }

  .chamada {
    font-size: 1.5rem;
  }

  body {
    padding: 10px;
  }
}
