*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/bg-index.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    margin-top: 8vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

h1{
    font-size: 2.2rem;
    color: #b94d9d;
    font-family: fonte-titulo;
    font-weight: 200;
    margin-bottom: 2rem;
}

.texto2{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.texto2 div{
    background: white;
    border: 2px solid #b94d9d;
    border-radius: 0.8rem;
    padding: 2rem;
    font-size: 1.4rem;
    max-width: 500px;
    font-weight: 600;
}

.divulgue{
    max-width: 1000px; 
}

.divulgue p {
    font-size: 1.5rem;
}

.parceiros img{
    border-radius: 1rem;
    width: 10rem;
}
/* ------------------------------------ header */

@font-face {
  font-family: fonte-titulo;
  src: url(../util/font/Vaseline\ Extra.ttf);
}

header{
    background: #f8d38d ;
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: 2rem; 
    font-size: 1.6rem; 
}
a{
    text-decoration: none;
    color: #b94d9d;
    font-family: fonte-titulo;
}
header img{
    width: 7rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

.end{ 
    margin-right: 5rem;
    align-items: center;  
    align-items: end;
}

button{
    background: #b94d9d;
    color: #f8d38d;
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-family: fonte-titulo;
}

footer {
  background: #f5f3ef;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0%;
  padding: 1.4rem;
  font-size: 1.2rem;
}


