@font-face {
  font-family: fonte-titulo;
  src: url('../font/VaselineExtra.ttf') format('truetype');
}

header{
    background: #f8d38d ;
    display: flex;
    width: 100%;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 500; /* Mantém a navbar acima do conteúdo normal (mas abaixo da modalOverlay que usa z-index:1000) */
}

nav{
    display: flex;
    gap: 4rem;
    align-items: center;
    margin-left: 2rem; 
    font-size: 1.6rem; 
}
nav a{
    text-decoration: none;
    color: #b94d9d;
    font-family: fonte-titulo;
    cursor: pointer;
}

nav img{
    width: 7rem;
    margin-left: 2rem;
    margin-top: 2.5rem;
}

header span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 1rem;
    color: #b94d9d;
    padding-left: 30rem;
}

header button{
    background: #b94d9d;
    color: #f8d38d;
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    font-family: fonte-titulo;
    margin-right: 5rem;
}

nav a:hover {
  background-color: #b94d9d;
  color: #f8d38d;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}